@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 1200px) {
  header .header {
    max-width: 800px;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  header .header_container {
    max-width: 510px;
  }
  header .header_container--nav {
    width: 100%;
    max-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header_container--nav a::after {
    bottom: -36px;
  }
  header .header_content {
    width: 100%;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .header_content--email {
    margin-bottom: 10px;
  }
  header .header_menu {
    display: none !important;
  }
  main .modal_title {
    max-width: 360px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 118px;
  }
  main .modal_button {
    margin-top: 30px;
    padding: 10px 24px;
    margin-bottom: 118px;
  }
  main .advantage_container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
  }
  main .advantage_container--details {
    max-width: 354px;
    margin: 0 auto;
  }
  main .affairs_container {
    display: none;
  }
  main .team {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
  }
  main .team_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
  }
  main .team_container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  main .team_container--content {
    max-width: 354px;
    margin: 0 auto;
  }
  main .team_container--content--img {
    width: 354px;
  }
  main .clients {
    max-width: 800px;
    margin: 0 auto;
  }
  main .clients_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  main .clients_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
  }
  main .clients_container--svg {
    padding: 16px 32px;
  }
  footer .footer {
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer_container {
    max-width: 800px !important;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  footer .footer_container--join--title {
    text-align: center;
  }
  footer .footer_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_sub--container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_sub--container input {
    width: 450px !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  header .header {
    align-items: center;
  }
  header .header_container--nav {
    display: none;
  }
  header .header_content {
    display: none;
  }
  header .header_burgermen {
    background: none;
    border: 1px solid #FFFFFF;
    outline: none;
    cursor: pointer;
  }
  header .header .header_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    padding: 40px 20px;
    transition: right 0.3s ease-in-out;
    display: flex !important;
    flex-direction: column;
  }
  header .header .header_menu.open {
    right: 0;
  }
  header .header .header_menu--close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
  header .header .header_menu--close:hover svg {
    fill: #2196F3;
    transition: 0.3s ease-in-out;
  }
  header .header .header_menu--close img {
    width: 100%;
    height: 100%;
    display: block;
  }
  header .header .header_menu--nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  header .header .header_menu--nav > a {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;
    text-decoration: none;
    transition: color 0.4s ease;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  header .header .header_menu--nav > a:hover {
    font-size: 40px;
    transition: 0.3s ease-out;
    color: #2196F3;
  }
  header .header .header_menu--contacts {
    margin-top: 302px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 30px;
  }
  header .header .header_menu--contacts--phone {
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #2196F3;
    text-decoration: none;
    margin-bottom: 16px;
  }
  header .header .header_menu--contacts--phone:hover {
    font-size: 40px;
    transition: 0.3s ease-out;
  }
  header .header .header_menu--contacts--email {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #757575;
    text-decoration: none;
  }
  header .header .header_menu--contacts--email:hover {
    color: #2196F3;
    transition: 0.3s ease;
  }
  header .header .header_menu--social {
    margin-top: 24px;
    width: 100%;
    max-width: 357px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 64px;
    margin-left: 30px;
  }
  header .header .header_menu--social--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2%;
    color: #2196F3;
    text-decoration: none;
    border-right: 2px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  header .header .header_menu--social--link:hover {
    font-size: 27px;
    transition: 0.3s ease;
  }
  header .header .header_menu--social--link:nth-child(4) {
    border: none;
  }
  header .header_burgermen {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  main .advantage_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  main .advantage_container--details {
    max-width: 450px;
  }
  main .advantage_container--details--title {
    text-align: center;
  }
  main .team_container {
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr;
  }
  main .clients_container {
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer {
    max-width: 450px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_container {
    align-items: center !important;
    flex-direction: column;
  }
  footer .footer_container--info {
    text-align: center;
  }
  footer .footer_container--info--content {
    padding-bottom: 0px !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border-bottom: solid 1px #ECECEC;
}

.header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.header_container {
  width: 100%;
  max-width: 519px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header_container--logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header_container--nav {
  width: 100%;
  max-width: 287px;
  display: flex;
  justify-content: space-between;
}
.header_container--nav a {
  position: relative;
  display: inline-block;
  color: #212121;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}
.header_container--nav a::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
.header_container--nav a:hover {
  color: #2196F3;
}
.header_container--nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.header_container--nav a.header_container--nav--studio {
  color: #2196F3;
}
.header_container--nav a.header_container--nav--studio::after {
  transform: translateX(-50%) scaleX(1);
}
.header_content {
  width: 100%;
  max-width: 333px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header_content a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_content a:hover {
  color: #2196F3;
}
.header_content a svg {
  margin-right: 5px;
}
.header_content--email, .header_content--phone {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.header_content--email svg path, .header_content--phone svg path {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_content--email:hover svg path, .header_content--phone:hover svg path {
  fill: #2196F3;
}
.header_content--email {
  text-align: center;
}
.header_content--phone {
  text-align: left;
}
.header_burgermen {
  display: none;
}
.header_menu {
  display: none;
}

.modal {
  background-image: url(img/backgroundbsns.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal_title {
  width: 100%;
  margin: 0 auto;
  max-width: 696px;
  margin-top: 200px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.modal_button {
  margin-top: 40px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  margin-bottom: 210px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 999;
}
.modal_container.active {
  display: block;
  opacity: 1;
}
.modal_container--content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 600px;
  position: relative;
  margin: 10% 30%;
}
.modal_container--content--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 15px;
}
.modal_container--content--inptitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  margin-bottom: 4px;
}
.modal_container--content--input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  border-radius: 4px;
  transition: border-color 0.3s ease, fill 0.3s ease;
}
.modal_container--content--input:hover, .modal_container--content--input:focus-within {
  border-color: #2196F3;
}
.modal_container--content--input:hover svg, .modal_container--content--input:focus-within svg {
  fill: #2196F3;
}
.modal_container--content--input svg {
  margin-left: 13.5px;
  margin-right: 8px;
}
.modal_container--content--input input {
  border: none;
  padding-left: 8px;
  width: 100%;
  height: 40px;
  outline: none;
}
.modal_container--content--input input:focus {
  outline: none;
}
.modal_container--content textarea {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5019607843);
  margin-top: 4px;
  width: 440px;
  height: 139px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
}
.modal_container--content textarea:hover, .modal_container--content textarea:focus {
  outline: 1px solid #2196F3;
}
.modal_container--content--check {
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.modal_container--content--check--text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
  padding-left: 8px;
}
.modal_container--content--button {
  width: 100%;
  max-width: 200px;
  margin: 30px auto 40px;
}
.modal_container--content--button button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
  padding: 10px 52px;
  cursor: pointer;
  border-radius: 4px;
}
.modal .close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 31px;
  height: 31px;
  font-size: 0;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .close:hover svg path {
  fill: #2196F3;
}
.modal .close svg {
  width: 11px;
  height: 11px;
}

.modal_agreement {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  cursor: pointer;
  color: #2196F3;
  margin-bottom: 30px;
}

.advantage_container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}
.advantage_container--details {
  width: 100%;
  max-width: 270px;
}
.advantage_container--details--img {
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantage_container--details--title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 10px;
}
.advantage_container--details--text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #757575;
}

.affairs_container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  margin-bottom: 94px;
}
.affairs_container--title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #212121;
}
.affairs_container--img {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.affairs_container--img--itself {
  position: relative;
}
.affairs_container--img--itself--desc {
  width: 100%;
  max-width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}
.affairs_container--img--itself--desc p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 30px;
}

.team {
  background-color: #F5F4FA;
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team_title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #212121;
}
.team_container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.team_container--content {
  background-color: #FFF;
  width: 100%;
  max-width: 270px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.team_container--content--img {
  width: 270px;
}
.team_container--content--name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.team_container--content--speciality {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}
.team_container--content--media {
  width: 100%;
  max-width: 206px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.team_container--content--media--button {
  padding: 12px 12px 10px 12px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_container--content--media--button:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.team_container--content--media--button:hover svg {
  fill: white;
}
.team_container--content--media--button svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}
.clients_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.clients_container--svg {
  border: 1px solid #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 16px 32px;
}
.clients_container--svg:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.clients_container--svg:hover svg {
  fill: #2196F3;
  transition: 250ms ease-in-out;
}

footer {
  background-color: #2F303A;
}
footer .footer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_container {
  width: 100%;
  max-width: 507px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_container--info--logo {
  margin-top: 60px;
  margin-bottom: 20px;
}
footer .footer_container--info--content {
  padding-bottom: 60px;
}
footer .footer_container--info--content--address {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
}
footer .footer_container--info--content--contacts a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #757575;
}
footer .footer_container--join {
  width: 100%;
  max-width: 206px;
  margin-top: 72px;
}
footer .footer_container--join--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer .footer_container--join--buttons {
  width: 100%;
  max-width: 206px;
  display: flex;
  justify-content: space-between;
}
footer .footer_container--join--buttons--button {
  padding: 12px 12px 10px 12px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  box-shadow: none;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .footer_container--join--buttons--button:hover {
  background-color: #2196F3;
  cursor: pointer;
}
footer .footer_sub {
  width: 100%;
  max-width: 570px;
  margin-top: 72px;
  margin-bottom: 94px;
}
footer .footer_sub--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer_sub--container {
  width: 100%;
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
footer .footer_sub--container input {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  background-color: #2F303A;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  padding: 15px 16px;
  width: 357px;
}
footer .footer_sub--container--button {
  padding: 10px 33px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer .footer_sub--container--button--info {
  width: 100%;
  max-width: 154px;
  display: flex;
  justify-content: space-between;
}
footer .footer_sub--container--button--info p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 10px;
}
footer .footer_sub--container--button--info svg {
  margin-top: 2px;
}/*# sourceMappingURL=style.css.map */